
        <h1>{{title}}</h1>
        
        <p>
            <a href="">{{name}}</a><br/>
            username:{{user.username}}
            password:{{user.password}}
            
        </p>
        
        <footer>
            <p>
                <a href="/">Home</a>
                <a href="/about">About Class pro</a>// req goes t d server. incase ".html" wil take a file from client itself.
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            </p>
        </footer>
   